*{
    text-align: center;
    background-image: url(images/bg\ im.jpeg);
   
   
}
#year{
    border-radius: 5px;
    width: 60px;
    background-color: whitesmoke;
  

}
#month{
    border-radius: 5px;
    width: 60px;
    background-color: rgb(240, 235, 230);
}
#day{
    border-radius: 5px;
    width: 50px;
    background-color: rgb(240, 235, 230);


}
button{
    border-radius: 5px;
    background-color: rgb(99, 180, 99);
    width: 70px;
}

