
*{
    justify-content: center;
    text-align: center;
    background-image: url();
}
ul{
    list-style: none;
}
h2, h3{
    justify-items: center;
    
}
#year{
    border-radius: 5px;
    width: 70px;
}
#month{
    border-radius: 5px;
    width: 60px;
}
#day{
    border-radius: 5px;
    width: 50px;
}
button{
    border-radius: 5px;
    background-color: rgb(99, 180, 99);
    width: 70px;
}
