.wrapper{
    background-image: url(images/bg\ im.jpeg);
    margin: 50px;
    padding: 50px;
    text-align: center;
}

#year{
    border-radius: 5px;
    width: 60px;
    background-color: whitesmoke;
  

}
#month{
    border-radius: 5px;
    width: 60px;
    background-color: rgb(240, 235, 230);
}
#day{
    border-radius: 5px;
    width: 50px;
    background-color: rgb(240, 235, 230);


}
button{
    border-radius: 5px;
    background-color: rgb(99, 180, 99);
    width: 70px;
}
 ul{
     list-style-type: none;
 }
.col-md-6 ul{
    text-decoration: snow;
    font-weight: 600;
}
